h1{
text-align: center;
background-color:  #333333;
color: white;
width: 99%;
height: 40px;
padding: 10px;

}

canvas {
            border: 1px solid #000000;
            margin: 0 auto;
            display: block;
            margin-top: 50px;
        }

        .arrow-button {
            width: 60px;
            height: 40px;
            background-color: #f2f2f2;
            border: 1px solid #cccccc;
            border-radius: 5px;
            margin: 0 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .arrow-button:hover {
            background-color: #e6e6e6;
        }